
/* project section  */
  .greenbox img {
    height: 300px;
    width: 500px;
   
  }
  .redbox{
    height: 300px;
    width: 500px;
    background-color: rgb(191, 163, 163);
    padding: 50px;
  
  }

  .third-sec{
    margin: 0 auto;

  }
  .row{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .proj{
    margin-top: 20px;
    max-width: 60rem;
    padding: 40px;
    margin: 50px auto 0;
    

    font-size: 40px; 
    font-weight: bold; 
    margin-bottom: 20px;
  }

  /* .link-container {
    display: flex;
    gap: 20px;
    align-items: center;
    font-family: monospace;
    color: rgb(11, 11, 10);
    text-decoration: none;
} */


.link-container {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  align-items: center;
  font-family: monospace;
  color: rgb(11, 11, 10);
  text-decoration: none;
}

@media (max-width: 600px) {
  .link-container {
      flex-direction: column;
      align-items: flex-start;
  }
}

  
